.Wishlist {
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
.top-head {
  height: 40px;
  width: 100%;
  background-color: aqua;
}
.center-div-wishlist {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.h1-header {
  font-size: 10px;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
}
.p1-para {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #919295;
}

.center-div-wishlist .svg-img {
  height: 200px;
  width: 300px;
}
.img {
  height: 100%;
  width: 100%;
}

.login-wishlist {
  height: 40px;
  width: 130px;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  color: rgb(73, 73, 218);
  border: 1px solid rgb(142, 142, 253);
  background-color: whitesmoke;
}

.login-wishlist:hover {
  color: rgb(144, 144, 193);
  border: 1px solid gray;
}
