@media screen and (max-width: 768px) {
  .nav-element {
    display: none;
  }
}
@media screen and (max-width: 468px) {
  .nav-element {
    display: none;
  }
  .search-container {
    display: none;
  }
}
